{block content}

<div class="container">
    <h2 style="margin: 15px 0 15px 0">Seznam knih</h2>
    {snippet booksList}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Název</th>
                    <th scope="col">Rok vydání</th>
                    <th scope="col">Autor</th>
                </tr>
            </thead>
            <tbody>
                {if !empty($books)}
                    {foreach $books as $book}
                        <tr>
                            <td>{$book->name}</td>
                            <td>{$book->release_year}</td>
                            <td>
                                <a n:href="Author:detail $book->author->id">
                                    {$book->author->first_name} {$book->author->last_name}
                                </a>
                            </td>
                        </tr>
                    {/foreach}
                {else}
                    <tr>
                        <td>Žádné knihy nenalezeny</td>
                    </tr>
                {/if}
            </tbody>
        </table>
    {/snippet}
</div>