<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Knihovna{ifset title} - {include title|stripHtml} | {/ifset}</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<nav class="navbar navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" n:href="Book:default">Knihovna</a>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="#" aria-current="page" data-toggle="modal" data-target="#addBookModal">Přidat knihu</a>
				</li>
			</ul>
		</div>
	</nav>

	{include content}

	<div class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Přidat knihu</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="addBookForm">
							<div class="mb-3">
								<label for="addBookFormName" class="form-label">Název knihy</label>
								<input type="text" class="form-control" name="name" id="addBookFormName">
							</div>
							<div class="mb-3">
								<label for="addBookFormAuthor" class="form-label">Autor</label>
								<select class="form-control" placeholder="zadejte jméno nebo příjmení..." name="author" id="addBookFormAuthor"></select>
							</div>
							<div class="mb-3">
								<label for="addBookFormYear" class="form-label">Rok vydání</label>
								<input type="text" class="form-control" name="release_year" id="addBookFormYear">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
						<button type="button" class="btn btn-primary" id="addBookFormSubmit">Uložit</button>
					</div>
				</div>
			</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<script src="http://cdn.hucr.cz/nette.ajax.js/nette.ajax.js"></script>

	{block scripts}
		<script>
			$(function () {
				$.nette.init();

				$('#addBookFormAuthor').autoComplete({
					resolverSettings: {
						url: {link Author:autocomplete},
					}
				});

				$('#addBookFormSubmit').on('click', () => {
					$.nette.ajax({
						url: {link saveBook!},
						data: $('#addBookForm').serialize(),
						complete: () => {
							$('#addBookModal').modal('hide');
						}
					});
				})
			});
		</script>
	{/block}
</body>
</html>
