{block content}

<div class="container">
    <h2 style="margin: 15px 0 15px 0">Autor: <b>{$author->first_name} {$author->last_name}</b></h2>
    {snippet authorBooksList}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Název</th>
                <th scope="col">Rok vydání</th>
            </tr>
            </thead>
            <tbody>
            {if !empty($authorBooks)}
                {foreach $authorBooks as $book}
                    <tr>
                        <td>{$book->name}</td>
                        <td>{$book->release_year}</td>
                    </tr>
                {/foreach}
            {else}
                <tr>
                    <td>Autor nemá žádné knihy</td>
                </tr>
            {/if}
            </tbody>
        </table>
    {/snippet}
</div>